.note-card-container {
    text-align: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
}