.navbar{
padding: 10px;
margin-bottom: 20px;
background:#0077CC ;
color: #fff;
display: flex;
justify-content: space-between;
position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navbar-brand {
color:#fff;
font-size: 2rem;
}

.navbar-create {
color: #fff;
font-size: 1.5rem;
}

.navbar-brand:hover ,.navbar-create:hover {
color:#CCB300;

}