.note-card{
width: 100%;
padding: 2vh;
margin: 20px auto;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border: 1px #ccb300;
display: grid;

}

.note-card:hover{
  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   
    }



.button-container {
max-width: 300px;
justify-content: space-evenly;

}

.button-container .button {

}